@import '@styles/variables';

.footer{
    background-color: $color_text_secondary;
    display: flex;
    min-height: 400px; 
    width: 100%;
    justify-content: center;
    flex-direction: column;

    &__logo_top{
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        /* arriba | derecha | abajo | izquierda */
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 5rem 40px;
        gap: 80px;
    }
    &__logo_column{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30%;
        min-width: 200px;
        gap: 2rem;
    }
    &__logo{
        width: 100%;
        align-items: center;
        max-width: 280px;
        cursor: pointer;
    }
    &__svg{
        width: 100%;
        height: auto;
        display: block;
    }
    &__redes{
        display: flex;
        flex-direction: row;
        gap: 25px;
        align-items: center;
        justify-content:center;
    }
    &__icons{
        width: 22px;
        height: 22px;
        opacity: 0.6;
        cursor: pointer;
        &:hover{
            opacity: 1;
        }
    }
    &__menu, &__data{
        width: 25%;
    }
    &__items{
        display: flex;
        color: $color-text-primary;
        flex-direction: column;
        gap: 1rem;
        }
        & p{
            margin: 0;
            line-height: 1.4;
        }
    
    &__links{
        cursor: pointer;
        color: inherit;
        font-size: $font-size-md;
        text-transform: capitalize;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
    &__logo_bottom{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 2rem 20px;
        border-top: 1px solid rgba($color-text-primary, 0.1);
        text-align: center;
    }
}