@import '@styles/variables';

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: black;

    &__logo{
        width: 150px;
        height: auto;
        color: $color-text-primary;
        cursor: pointer;
        &:hover{
            color: $color-text-secondary;
        }
    }
    &__svg{
        width: 100%;
        height: auto;
    }
    &__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        list-style: none;

        & a{
            text-decoration: none;
            font-family: $font-family-primary;
            font-size: $font-size-sm;
            text-transform: uppercase;
            &:hover{
                color: $color-text-secondary;
            }
            }
    }

    &__social{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;

        svg{
            width: 24px;
            height: 24px;
            color: $color-text-primary;
            cursor: pointer;
            &:hover{
                color: $color-text-secondary;
            }
        }
    }
}
