// Text colors
$color-text-primary: #fffaf0;
$color-text-secondary: #00C08B;
$color-text-tertiary: #B1DAEF;

// Typography
$font-family-primary: var(--font-montserrat);
$font-family-secondary: var(--font-open-sans);

// Font sizes
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-xxl: 24px;
$font-size-xxxl: 32px;
$font-size-xxxxl: 40px;
$font-size-xxxxxl: 48px;
$font-size-xxxxxxl: 56px;